<!DOCTYPE html>
<html lang="en">
  <%- include("components/head", {title: "Foxy Bakery - Shop"}); %>

  <body>
    <h1>What do you want to buy?</h1>
    <%- include("components/nav"); %>
    <a href="/logout"><h3>Logout</h3></a>
    <form action="/shop" method="post">
      <%items.forEach(item => {%>
       <label for="<%=`item${item.id}`%>"><%=item.name%> @Rp. <%=item.price%></label><br>
       <p><%=item.desc%></p>
       <input type="number" id="<%=`item${item.id}`%>" name="<%=item.id%>" value=0><br><br><br> 
      <%})%>
      
      <br>
      <input type="submit" value="Submit">
    </form> 
    

  </body>

  
</html>